.cardbody{
    border:6px solid black ;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    width: 26%;
    border-radius: 5%;
}
s{
    color: brown;
}
h3{
    color: rgb(231, 12, 12);
}
button{
    padding: 2%;
    background-color: rgb(30, 7, 75);
    color: rgb(15, 250, 27);
    border: 4px solid black;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.cardbody img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*upto now laptop*/
/*now mobile*/
@media only screen and (min-width:320px) and (max-width:480px){
    .cardbody{
        border:6px solid black ;
        padding: 1%;
        margin: 1%;
        font-size: 30px;
        width: 90%;
        border-radius: 5%;
    }
    s{
        color: brown;
    }
    h3{
        color: rgb(231, 12, 12);
    }
    button{
        padding: 2%;
        background-color: rgb(30, 7, 75);
        color: rgb(15, 250, 27);
        border: 4px solid black;
        font-size: 20px;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
    }
    .cardbody img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }   
}
@media only screen and (min-width:481px) and (max-width:768px){
    .cardbody{
        border:6px solid black ;
        padding: 1%;
        margin: 1%;
        font-size: 30px;
        width: 90%;
        border-radius: 5%;
    }
    s{
        color: brown;
    }
    h3{
        color: rgb(231, 12, 12);
        text-align: center;
    }
    button{
        padding: 2%;
        background-color: rgb(30, 7, 75);
        color: rgb(15, 250, 27);
        border: 4px solid black;
        font-size: 20px;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
    }
    .cardbody img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }   
}